<h2> How much do you want? </h3>
<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "dose", class: "btn btn-primary" %>
  <% end %>
</div>